{{!--Це файл з кодом, який ввиводиться якщо в нас є помилка --}}
<div>
    {{!-- ця конструкція виводить зміну message, яку нам бек-енд передає, коли в нас вилазить помилка --}}
    {{message}}
</div>