{{!--
Це код container файлу для сторінки js,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/js"
--}}

<h1>Hello world</h1>

{{!--
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже сторінку HTML
--}}